:root {
	color: #bdbdbd;
	font-size: 18px;

	--primary: #43a047;
	--article: #424242;
	--background: #212121;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', monospace;
}

body {
	background: var(--background);
}

.header {
	color: var(--background);
	background: var(--primary);
}

.header > article {
	margin-top: 0;
}

article {
	max-width: 40rem;
	margin: 2rem auto;
}

article > * {
	margin: 1rem;
}

a, h1, h2, h3 {
	color: var(--primary);
}

th, td {
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: left;
	vertical-align: top;
}

svg g {
	stroke-dasharray: 30;
    animation-name: stroke;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes stroke {
	0% {
		stroke-dashoffset: 30;
	}
	25% {
		stroke-dashoffset: 0;
	}
	75% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -30;
	}
}
